<template>
	<div id="login">
		<div class="page-header">
            <h1>User Login</h1>
        </div>
    <form>
        <label for="">Email:</label>
        <input class="form-control" type="text" name="email" placeholders=" please enter email">
        <br>

        <label for="">Username:</label>
        <input class="form-control" type="text" name="username" placeholders=" please enter username">
        <br>

        <label for="">Password:</label>
        <input class="form-control" type="text" name="password" placeholders=" please enter password">
        <br>

        <button class="btn btn-primary" type="submit" @click="login">Get in</button>
    </form>
        
	</div>
</template>
<script>
	import {mapActions, mapGetters} from 'vuex'
	export default {
	  name: 'login',
	  computed: mapGetters([
	    'loginUP'
	  ]),
	  methods: mapActions([
	    'login'
	  ])
	}
</script>
<style>
	
</style>
