<template>
  <div id="register">
        <div class="page-header">
            <h1>User Registration</h1>
        </div>
    <form>
        <label for="">Email:</label>
        <input class="form-control" type="text" name="email" placeholders=" please enter email" v-model="registerUP.email">
        <br>

        <label for="">Username:</label>
        <input class="form-control" type="text" name="username" placeholders=" please enter username" v-model="registerUP.username">
        <br>

        <label for="">Password:</label>
        <input class="form-control" type="text" name="password" placeholders=" please enter password" v-model="registerUP.password">
        <br>

        <button class=" btn btn-primary"  type="submit" @click="register">Register</button>
    </form>
  </div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'

	export default {
	  name: 'register',
	  computed: mapGetters([
	    'registerUP'
	  ]),
	  methods: mapActions([
	    'register'
	  ])
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



</style>
