<template>
  <div id="app">
  <Navlist> </Navlist>
    <router-view style="margin-top:100px"></router-view>
  </div>
</template>

<script>
import Navlist from './components/Navs/Navs.vue'

export default {
  name: 'app',
  components: {
    Navlist
  }
}
</script>

<style>

</style>
